/* Custom Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
}

header {
    background: #000;
    background-image: url('https://64.media.tumblr.com/0a6c6a96adabf6cbd08936fbb4b39033/2c9e5c7571cf54eb-f9/s1280x1920/b75d220e40f02d3e29fd63abbecb68a1dd8a3355.png'); /* Imagen de fondo para encabezado */
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 3rem;
}

section h2 {
    color: #fcfcfc;
}

.card-title {
    font-weight: bold;
    color: #333;
}

footer {
    background: #222;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

.card.h-100 {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.card-img-top {
    width: 60%;
    height: auto;
}

/* Asegura que la tarjeta ocupe todo el espacio vertical */
.card-body {
    flex-grow: 1;
}

.info{
    color: #fcfcfc;
}
